*
{
    margin: 0;
    font-family: sans-serif;
}
.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
.divheader
{
    display: flex;
    gap: 40px;
    align-items: center;
}
.inner2
{
    display: flex;
    gap: 20px;
}
.inner4
{
    display: none;
}
.pcont
{
    background-color: #F5333F;
    padding: 10px;
    text-align: center;
    width: 200px;
    border-radius: 10px;
    color: white;
}
.sec2
{
    width: 100%;
    height: 600px;
    background-image: url(./Ресурс\ 1\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: end;

}
.hboost
{
    font-size: 100px;
    margin-left: 50px;
}
.pcont2
{
    background-color: #F5333F;
    padding: 10px;
    text-align: center;
    width: 200px;
    border-radius: 10px;
    color: white;
    margin-left: 50px;
}



@media(max-width: 510px){
    .inner2
    {
        display: none;
    }
    .inner3
    {
        display: none;
    }
    .inner4
    {
        display: block;
    }
    .hboost
    {
        font-size: 35px;
        margin-top: 50px;
    }
    .sec2
    {
        height: 400px;
    }

    
}